.details-main {
  padding-top: 0px;
}
body {
  background-color: var(--bg_body);
  color: var(--body-text);
}
.dotted-text {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
#details-script-container {
  margin-bottom: 0px;
  padding-bottom: 18px;
}

.grid-container {
  display: grid;
  grid-template-areas:
    " info info card "
    " list list card "
    "footer footer footer ";
  margin-inline: auto;
}
.details-card-container {
  grid-area: card;
  overflow: visible;
}
.details-info {
  grid-area: info;
  background-color: var(--dark-bg);
  color: var(--white-text);
  box-shadow: 0 0 0 100vw var(--dark-bg);
  clip-path: inset(0 -100vw);
}
.details-info h2 {
  color: var(--brand-secondary);
}
footer {
  grid-area: footer;
}

.details-card {
  display: flex;
  flex-direction: column;
  background-color: var(--white-bg);
  border: 1px solid var(--lines-color);
  position: relative;
}
.list-container {
  border: 1px solid var(--lines-color);
  background-color: var(--bg_default);
  grid-area: list;
}

.details-image-banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.details-card-info {
  background-color: var(--white-bg);
  color: var(--dark-text);
}
.details-card-title {
  font-weight: 700;
}
#by-span {
  font-weight: 400;
}
#details-card-author {
  text-decoration: underline;
  color: var(--brand-primary);
}

.add-favourite-box {
  border: 1px solid var(--light-border);
}
.add-favourite-box button {
  background-color: var(--brand-secondary);
  border: none;
  color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 20px;
  font-weight: 400;
  border-radius: 2px;
}

.add-favourite-box > :last-child {
  color: var(--gray-font);
  font-size: 14px;
  display: block;
  text-align: center;
  margin-inline: auto;
}

.list-container ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}
.list-container ul li {
  display: flex;
  align-items: center;
  border-top: 1px solid var(--lines-color);
  font-size: 18px;
}
.sub-topics-icon {
  font-size: 24px;
  color: var(--brand-secondary);
  flex-shrink: 0;
}
@media (min-width: 270px) {
  .grid-container {
    grid-template-areas:
      " info "
      " card "
      "list"
      "footer  ";
  }
  .details-image-banner {
    height: 200px;
  }
  .details-info {
    padding: 15px;
  }
  .details-card {
    margin-bottom: 24px;
  }
  .details-card-info {
    padding: 12px 10px;
  }
  .details-card-title {
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    padding-right: 12px;
  }
  .details-card-title span {
    display: inline-block;
    max-width: 280px;
  }
  #details-card-author {
    word-wrap: break-word;
    text-overflow: ellipsis;
  }
  .add-favourite-box {
    padding: 6px 10px 0px;
    font-size: 12px;
  }
  .add-favourite-box button {
    width: 100%;
    height: 40px;
    gap: 5px;
    font-size: 24px;
    font-weight: 400;
    border-radius: 2px;
    margin-bottom: 5px;
  }
  .add-favourite-box button ion-icon {
    font-size: 24px;
  }
  .add-favourite-box > :first-child {
    margin-bottom: 8px;
    width: 100%;
    text-align: center;
  }
  .add-favourite-box > :last-child {
    margin-bottom: 10px;
    font-size: 12px;
    display: block;
    text-align: center;
    margin-inline: auto;
  }
  .list-container {
    margin-bottom: 20px;
  }
  .list-container h2 {
    padding: 8px 14px;
  }
  .list-container ul li {
    display: flex;
    align-items: center;
  }
  .list-container ul li span {
    padding: 8px 14px;
    gap: 4px;
    display: flex;
  }
}
@media (min-width: 560px) {
  .details-image-banner {
    height: 300px;
  }
  .details-card-title span {
    max-width: 320px;
  }
  .add-favourite-box button {
    height: 50px;
    margin-bottom: 7px;
  }
  .add-favourite-box > :first-child {
    margin-bottom: 10px;
  }
  .list-container {
    margin-bottom: 32px;
  }
}

@media (min-width: 720px) {
  .grid-container {
    grid-template-areas:
      "  info info card "
      "list list card"
      "footer footer footer ";
    gap: 20px;
    padding-right: 15px;
    max-width: 900px;
  }
  .details-image-banner {
    height: 220px;
  }
  .details-card-container {
    padding-top: 15px;
  }
  .details-card {
    border: 2px solid var(--white-border);
    box-shadow: 0px 0px 25px -13px rgb(0, 0, 0, 0.3);
  }

  .details-card-title span {
    max-width: 400px;
  }

  .add-favourite-box button {
    font-size: 16px;
  }

  .list-container {
    margin: 0px 0px 20px 15px;
  }
}
@media (min-width: 1440px) {
  #details-top-bar-title {
    font-size: 24px;
  }
  .grid-container {
    max-width: 920px;
    gap: 30px;
  }
  .details-info {
    padding: 30px 0px 30px 15px;
  }
  .details-info h2 {
    font-size: 12px;
  }
  .details-info .rating-container {
    margin-bottom: 24px;
  }
  .details-card-container {
    max-width: 320px;
    padding-block: 30px;
  }
  .details-image-banner {
    height: 200px;
  }
  .details-card-info {
    padding: 18px 16px;
  }
  .details-card-title {
    margin-bottom: 10px;
    font-size: 17px;
  }

  #details-card-author {
    font-size: 16px;
  }

  .add-favourite-box {
    padding: 18px 18px 6px;
    font-size: 12px;
  }
  .add-favourite-box button {
    height: 55px;
    font-size: 22px;
    margin-bottom: 10px;
  }
  .add-favourite-box button ion-icon {
    font-size: 32px;
  }
  .add-favourite-box > :first-child {
    margin-bottom: 10px;
    font-weight: 400;
    text-align: start;
    font-size: 16px;
  }
  .add-favourite-box > :last-child {
    margin-bottom: 8px;
    font-size: 12px;
  }
  .list-container {
    border-radius: 6px;
  }
  .list-container h2,
  .list-container ul li span {
    padding-block: 14px;
    padding-left: 32px;
  }
  
}
