.details-main {
  padding-top: 0px;
}
body {
  background-color: var(--bg_body);
  color: var(--body-text);
}
.dotted-text {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
#details-script-container {
  margin-bottom: 0px;
  padding-bottom: 18px;
}
/* .details-container {
  width: 600px;
  border: 4px solid red;
} */

.grid-container {
  display: grid;
  grid-template-areas:
    " info info card "
    " list list card "
    "footer footer footer ";
  /* padding-inline: 40px;
  gap: 30px;
  width: 67%; */
  margin-inline: auto;
}

.details-info {
  grid-area: info;
  background-color: var(--dark-bg);
  color: var(--white-text);
  box-shadow: 0 0 0 100vw var(--dark-bg);
  clip-path: inset(0 -100vw);
  /* padding-block: 20px; */
}
.details-info h3 {
  color: var(--brand-secondary);
}
footer {
  grid-area: footer;
}

.details-card {
  display: flex;
  flex-direction: column;
  background-color: var(--white-bg);
  border: 1px solid var(--lines-color);
  grid-area: card;

  position: relative;
}
.list-container {
  border: 1px solid var(--lines-color);
  background-color: var(--bg_default);
  /* width: 100%; */
  grid-area: list;
  /* width: 60%; */
}

/* .image-banner {
  height: 50%;
} */
.image-banner img {
  /* width: 100%;
  height: 100%;
  object-fit: cover; */
}
.details-card-info {
  background-color: var(--white-bg);
  color: var(--dark-text);
  /* padding: 20px 16px 16px; */
}
.details-card-title {
  font-weight: 700;
  /* margin-bottom: 10px; */
}
#by-span {
  font-weight: 400;
}
#details-card-author {
  text-decoration: underline;
  color: var(--brand-primary);
}

.add-favourite-box {
  border: 1px solid var(--light-border);
  /* padding: 20px 16px 0px; */
  /* margin-bottom: 24px; */
}
.add-favourite-box button {
  background-color: var(--brand-secondary);
  border: none;
  color: white;
  width: 100%;
  /* height: 50px; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 20px;
  font-weight: 400;
  border-radius: 2px;
  /* margin-bottom: 10px; */
}
.add-favourite-box button ion-icon {
  /* font-size: 30px; */
}
.add-favourite-box > :first-child {
  /* margin-bottom: 10px; */
}
.add-favourite-box > :last-child {
  color: var(--gray-font);
  /* margin-bottom: 10px; */
  font-size: 14px;
  display: block;
  text-align: center;
  margin-inline: auto;
}
/* .sub-topics {
  margin: 0 auto 30px;
  gap: 30px;
  
} */

.list-container h2 {
  /* padding: 20px 10px 16px 26px; */
}
.list-container ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}
.list-container ul li {
  display: flex;
  align-items: center;
  border-top: 1px solid var(--lines-color);
  font-size: 18px;
}
.sub-topics-icon {
  font-size: 24px;
  color: var(--brand-secondary);
  flex-shrink: 0;
}
@media (min-width: 270px) {
  .grid-container {
    grid-template-areas:
      " info "
      " card "
      "list"
      "footer  ";
  }
  .image-banner{
    height: 200px;
  }
  .details-info {
    padding: 15px;
  }
  .details-card {
    
    margin-bottom: 24px;
  }
  .details-card-info {
    padding: 12px 10px;
  }
  .details-card-title {
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    padding-right: 12px;
  }
  .details-card-title span {
    display: inline-block;
    max-width: 280px;
  }
  #details-card-author {
    word-wrap: break-word;
    text-overflow: ellipsis;
  }
  .add-favourite-box {
    padding: 6px 10px 0px;
    font-size: 12px;
  }
  .add-favourite-box button {
    width: 100%;
    height: 40px;
    gap: 5px;
    font-size: 24px;
    font-weight: 400;
    border-radius: 2px;
    margin-bottom: 5px;
  }
  .add-favourite-box button ion-icon {
    font-size: 24px;
  }
  .add-favourite-box > :first-child {
    margin-bottom: 8px;
    width: 100%;
    text-align: center;
  }
  .add-favourite-box > :last-child {
    margin-bottom: 10px;
    font-size: 12px;
    display: block;
    text-align: center;
    margin-inline: auto;
  }
  .list-container {
    margin-bottom: 20px;
  }
  .list-container h2 {
    /* margin-inline: 14px; */
    padding: 8px 14px;
  }
  .list-container ul li {
    display: flex;
    align-items: center;
  }
  .list-container ul li span {
    padding: 8px 14px;
    gap: 4px;
    display: flex;

   
  }
}
@media (min-width: 560px) {
  
  .image-banner{
    height: 300px;
  }
  .details-card-title span {
    max-width: 320px;
  }
  .add-favourite-box button {
    height: 50px;
    margin-bottom: 7px;
  }
  .add-favourite-box > :first-child {
    margin-bottom: 10px;
  }
  .list-container {
    margin-bottom: 32px;
  }
}

@media (min-width: 720px) {
  .details-info {
    /* padding: unset; */

  }
.grid-container {
    grid-template-areas:
      "  info info card "
      "list list card"
      "footer footer footer ";
      gap: 20px;
      padding-right: 15px;
      /* padding: 15px; */
      /* padding: 30px; */

  }
  .image-banner{
    height: 280px;
  }
  .details-card {
    margin: 15px 0px 24px;
    height: 400px;
    /* width: 90%; */
  }
  .details-card-info {
    padding: 12px 10px;
  }
  .details-card-title {
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    padding-right: 12px;
  }
  .details-card-title span {
    display: inline-block;
    max-width: 400px;
  }
  #details-card-author {
    word-wrap: break-word;
    text-overflow: ellipsis;
  }
  .add-favourite-box {
    padding: 6px 10px 0px;
    font-size: 12px;
  }
  .add-favourite-box button {
    width: 100%;
    height: 40px;
    gap: 5px;
    font-size: 16px;
    font-weight: 400;
    border-radius: 2px;
    margin-bottom: 5px;
  }
  .add-favourite-box button ion-icon {
    font-size: 24px;
  }
  .add-favourite-box > :first-child {
    margin-bottom: 8px;
    width: 100%;
    text-align: center;
  }
  .add-favourite-box > :last-child {
    margin-bottom: 10px;
    font-size: 12px;
    display: block;
    text-align: center;
    margin-inline: auto;
  }
  .list-container {
    margin:0px 0px 20px 15px;
  }
  
  

}
@media (min-width: 1120px) {
  .grid-container{
    width: 80%;
  }
}
@media (min-width: 1440px) {
  #details-top-bar-title {
    font-size: 24px;
  }
.grid-container{
  width: 66%;
  gap: 26px;
}
.details-card{
  width: 80%;
}

  .details-card-info {
    padding: 18px 16px 0px;
  }
  .details-card-title {
    margin-bottom: 10px;
    font-size: 17px;
  }

  #details-card-author {
    font-size: 16px;
  }

  .add-favourite-box {
    padding: 18px 18px 6px;
    font-size: 12px;
  }
  .add-favourite-box button {
    width: 100%;
    height: 55px;
    font-size: 22px;
    font-weight: 400;
    border-radius: 2px;
    margin-bottom: 10px;
  }
  .add-favourite-box button ion-icon {
    font-size: 32px;
  }
  .add-favourite-box > :first-child {
    margin-bottom: 10px;
    font-weight: 400;
    width: 100%;
    text-align: start;
    font-size: 16px;
  }
  .add-favourite-box > :last-child {
    margin-bottom: 8px;
    font-size: 12px;
    display: block;
    text-align: center;
    margin-inline: auto;
  }
}
