* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", "sans-serif";
}

.invisible {
  display: none;
}

body {
  background-color: var(--bg_body);
  color: var(--body-text);
}
.card,
.search-section {
  box-shadow: 0px 0px 4px var(--lines-color);
  background-color: var(--bg_default);
}

.container {
  padding-inline: 15px;
  margin-inline: auto;
}

h1 {
  font-size: 23px;
  font-weight: 700;
}
.top-bar {
  display: flex;
  gap: 4px;
  background-color: var(--bg_default);
  align-items: center;
  height: 66px;
  /* padding-right: 15px;
  padding-left: 15px; */
}
.top-bar h3 {
  color: var(--brand-primary);
  font-weight: 700;
  margin-right: auto;
  font-size: 15px;
}
.top-bar button {
  background-color: var(--bg_default);
  color: var(--body-text);
  border: 1px solid rgb(128, 128, 128, 0.3);
  box-shadow: 1px 1px rgb(128, 128, 128, 0.1);
  border-radius: 5px;
  width: 34px;
  height: 25px;
  display: flex;
  gap: 4px;
  justify-content: center;
  align-items: center;
}
.icon {
  color: var(--body-text);
}
.title-container {
  background-color: var(--bg_default);
}
.polygons-banner {
  background-color: var(--bg_default);
  width: 100%;
  height: 26px;
}

.polygon1,
.polygon2 {
  height: 100%;
}
.polygon1 {
  background-image: linear-gradient(
    to right,
    var(--brand-primary),
    var(--brand-secondary)
  );
  clip-path: polygon(0% 0%, 100% 0%, 100% 10%, 0% 100%);
  margin-top: -26px;
}
.polygon2 {
  background-color: var(--brand-secondary);
  opacity: 0.8;
  clip-path: polygon(100% 0%, 100% 100%, 0% 10%, 0% 0%);
}

.script-container {
  padding-top: 9px;
  margin-bottom: 20px;
  color: var(--body-text);
}

.script-container h2 {
  color: var(--brand-secondary);
  font-size: 20px;
  font-weight: 700;
  line-height: 0.9;
}

.script-container p {
  color: var(--body-text);
  font-size: 15px;
}
main {
  padding-block: 16px;
  min-height: 100vh;
  margin-bottom: 16px;
}

.search-section {
  background-color: var(--bg_default);
  color: var(--body-text);
  display: flex;
  /* margin-inline: 15px; */
  flex-wrap: wrap;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 18px;
}
.search-bar,
.drop-downs-bar {
  width: 100%;
  height: 50px;
}
.search-bar {
  display: flex;
  align-items: center;
}
.search-bar input {
  border: none;
  width: 100%;
  height: 100%;
  font-size: 15px;
  padding-left: 2px;
  font-weight: 600;
  background-color: var(--bg_default);
  color: var(--body-text);
}
.search-bar #search-icon {
  margin-inline: 10px;
  height: 100%;
  font-size: 17px;
}

.drop-downs-bar {
  display: flex;
  align-items: center;
}
.drop-down-container {
  width: 50%;
  border-top: 1px solid var(--lines-color);
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 12px;
  padding-right: 8px;
  justify-content: center;
 
}
a {
  text-decoration: none;
  color: unset;
}

.drop-down-container label {
  font-size: 11px;
  font-weight: 700;
  padding-left: 4px;
}
.drop-down-container select {
  border: none;
  font-weight: 700;
  background-color: var(--bg_default);
  color: var(--body-text);
}
#filter-box {
  border-left: 1px solid var(--lines-color);
}
.search-result-title {
  margin-bottom: 24px;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: 260px;
  gap: 30px;
}

.card {
  background-color: var(--bg_default);
  border-radius: 6px;
  overflow: hidden;
}
.image-banner {
  height: 50%;
  overflow: hidden;
  background-color: white;
  color: var(--body-text);
}
.image-banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-details {
  padding: 14px;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-details .category-name {
  font-size: 12px;
  font-weight: 400;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.card-details h3 {
  font-weight: 700;
  font-size: 14px;
  flex-grow: 2;
  white-space: wrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.rating-container {
  display: flex;
  font-size: 16px;
  color: var(--stars-gold);
  margin-bottom: 12px;
}
.author-name {
  font-size: 12px;
  color: gray;
  font-weight: 400;
}
.favorites-bottom-section {
  background-color: var(--bg_default);
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 3;
  padding-top: 12px;
  box-shadow: 0px 0px 16px -13px var(--black);
}
.favorites-bottom-section > :first-child {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 15px;
}
.favorite-cards-container {
  display: flex;
  /* flex-wrap: wrap; */
  overflow-y: scroll;
  gap: 12px;
  height: 128px;
  /* width: 190px; */
  padding-bottom: 14px;
  flex-wrap: wrap;
}
.favorite-cards-container::-webkit-scrollbar{
  display: none;
}
.favorite-card {
  flex: 1, 0, unset;
  border-radius: 8px;
  overflow: hidden;
  width: 122px;
  box-shadow: 0px 0px 10px -7px var(--black);
}
.favorite-card-img-banner {
  height: 60px;
}
.favorite-card-img-banner img {
  object-fit: cover;
  height: 100%;
  /* background-color: red; */
  width: 100%;
}
.favorite-card-info-box {
  padding: 5px 10px 0px;
  display: flex;
  flex-direction: column;
  /* background-color: red; */
}
.favorite-card-info-box > :first-child {
  font-weight: 700;
  font-size: 15px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: inline-block;
  width: 110px;
  /* background-color: red; */
}
/* section class="favorites-bottom-section container invisible">
        <p>My Favorite Topics</p>
        <div class="favorite-cards-container">
          <div class="favorite-card">
            <div class="favorite-card-img-banner">
              <img/>
            </div> */

@media (min-width: 270px) {
  .icon-button-text {
    display: none;
  }
}
@media (min-width: 560px) {
  .icon-button-text {
    display: inline;
  }
  .top-bar button {
    width: 100px;
    height: 30px;
  }

  .polygons-banner {
    height: 30px;
  }
  .polygon1 {
    margin-top: -30px;
  }
}

@media (min-width: 840px) {
  .title-container {
    display: flex;
    justify-content: center;
  }
  .search-bar {
    width: 73%;
  }
  .drop-downs-bar {
    width: 27%;
  }
  .drop-down-container {
    border-top: none;
    border-left: 1px solid var(--lines-color);
  }
  .polygons-banner {
    height: 34px;
  }
  .polygon1 {
    margin-top: -34px;
  }
  .card {
    border-radius: 8px;
  }
}

@media (min-width: 1120px) {
  .cards-container {
    grid-auto-rows: 280px;
  }
  .top-bar {
    height: 70px;
  }
  .top-bar h3 {
    font-size: 16px;
  }

  .container {
    padding-inline: 35px;
  }

  .polygons-banner {
    height: 50px;
  }
  .polygon1 {
    margin-top: -50px;
  }
  .card {
    border-radius: 10px;
  }
}

@media (min-width: 1440px) {
  .top-bar h3 {
    font-size: 18px;
  }
  .top-bar button {
    width: 110px;
    height: 30px;
    font-size: 15px;
  }
  .container {
    padding-inline: 55px;
  }

  .script-container {
    padding-top: 0px;
  }
  .script-container h2 {
    font-size: 20px;
  }

  .script-container p {
    font-size: 16px;
  }

  .cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 30px;
  }
  .polygons-banner {
    height: 64px;
  }
  .polygon1 {
    margin-top: -64px;
  }
  .card {
    border-radius: 10px;
  }
}

/* -----------Styles for the details page------------*/

footer {
  margin: 0 auto 28px;
  font-size: 16px;
  font-weight: 400;
}
footer,
footer span {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer ion-icon {
  color: var(--heart-color);
  font-size: 24px;
  margin-inline: 2px;
}
